body{
  height: 100%;
  background-color: seashell; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, mistyrose , seashell, thistle);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 15%;
}
.name{
  text-align: center;
  text-transform: uppercase;
  color: black;
  border-top: 1px solid slateblue;
  border-bottom: 1px solid slateblue;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-top:10px;
  margin-bottom:10px;
  height: 90px;
  line-height: .0;
  border-radius: 10px; 
  text-align: center;
  background-image: linear-gradient(to bottom right, seashell, lavender);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.imgcontact{
  border-radius: 10px;
  background-position: left top;
  background-repeat: repeat;
  float: center;
}
.exp-summary{
  text-transform: uppercase;
  text-align: center;
  line-height: .7;
  color: black;
  border-top: 1px solid slateblue;
  border-bottom: 1px solid slateblue; 
}
.exp-skills{
  text-transform: uppercase;
  text-align: center;
  color: black;
  border-top: 1px solid slateblue;
  border-bottom: 1px solid slateblue;
}
.skills {
  column-count: 2;
  column-gap: 40px;
}
.exp-header{
  color: black;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid slateblue;
  border-bottom: 1px solid slateblue;
}
.jobimage{
  border-radius: 10px;
  background-position: left top;
  background-repeat: repeat;
  float: center;
  padding-right: 3px;
}
.border{
  border-top: 1px solid slateblue;
}
.date{
  text-align: right;
  border-bottom: 1px solid slateblue;
}

